/* Default configuration */
process {
    executor = 'local' 
    cpus = 1
    maxForks = 1

    withName: DIAMOND_BLASTP {
        ext.args = "--evalue 0.00001 --query-cover 50.0 --very-sensitive"
     }
}

executor {
    queueSize = 1 
} 

report {
  enabled = true
  overwrite = true 
  file    = "${params.output}/report.html"
}
conda{
	enabled = true 
	useMamba = false 
	cacheDir = "/mount/britton/Jose/Jobs/Jason/2026-05-19-POCPu-Psuedo-Strain-Plus-Panel-From-POCP-Run/conda"
	createTimeout = '2 h'
}
